<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Tender</title>
</head>
<body>
<h1>Edit Tender</h1>
<h1 th:text="${tender.sourceId}"></h1>

<form action="#" th:action="@{/updateTender}" th:object="${tender}" method="post">
    <input type="number" placeholder="Enter Source URL" th:field="*{id}">
    <input type="number" placeholder="Enter Source URL" th:field="*{sourceId}">
    <input type="text" placeholder="Enter Source URL" th:field="*{date}">
    <input type="text" placeholder="Enter Source URL" th:field="*{deadlineDate}">
    <input type="text" placeholder="Enter Source URL" th:field="*{deadlineLengthDays}">
    <input type="text" placeholder="Enter Source URL" th:field="*{title}">
    <input type="text" placeholder="Enter Source URL" th:field="*{category}">
    <input type="text" placeholder="Enter Source URL" th:field="*{sid}">
    <input type="text" placeholder="Enter Source URL" th:field="*{sourceUrl}">

    <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>