<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Tender</title>
    <link th:href="@{/style_forms.css}" rel="stylesheet" />
</head>
<body>
<h1>Add Supplier</h1>

<form action="#" th:action="@{/updateSupplier}" th:object="${supplier}" method="post">
    <input type="number" th:field="*{id}" hidden="hidden">
    <input type="number" id="sourceId" th:field="*{source_id}" readonly>
    <input type="text" th:field="*{name}">
    <input type="text" th:field="*{slug}">

    <input id="submit" type="submit" value="Submit">
</form>
</body>
</html>
