<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Tender</title>
    <link th:href="@{/style_forms.css}" rel="stylesheet" />
    <script>
        const takenIDs = [[${TakenIDs}]];

        function validateSourceId() {
            const sourceIdInput = document.getElementById("sourceId");
            const submitButton = document.getElementById("submit");
            const errorField = document.getElementById("errorSourceId");
            const sourceId = parseInt(sourceIdInput.value);

            if (takenIDs.includes(sourceId)) {
                errorField.textContent = "This Source ID is already taken.";
                submitButton.disabled = true;
            } else {
                errorField.textContent = "";
                submitButton.disabled = false;
            }
        }

        function validateDates() {
            const dateInput = document.getElementById("date");
            const deadlineDateInput = document.getElementById("deadlineDate");
            const errorField = document.getElementById("errorDates");
            const submitButton = document.getElementById("submit");

            const dateValue = new Date(dateInput.value);
            const deadlineValue = new Date(deadlineDateInput.value);

            if (deadlineValue <= dateValue) {
                errorField.textContent = "Deadline/Start date must be after/before the start/dedaline date.";
                submitButton.disabled = true;
            } else {
                errorField.textContent = "";
                submitButton.disabled = false;
            }
        }
    </script>
</head>
<body>
<h1>Add Tender</h1>

<form action="#" th:action="@{/addTender}" th:object="${tender}" method="post">
    <input type="number" th:field="*{id}" hidden="hidden">

    <input type="number" id="sourceId" th:field="*{sourceId}" required oninput="validateSourceId()">
    <span id="errorSourceId" style="color: red; font-size: small;"></span>

    <input type="date" id="date" th:field="*{date}" required oninput="validateDates()">
    <input type="date" id="deadlineDate" placeholder="yyyy-MM-dd" th:field="*{deadlineDate}" required oninput="validateDates()">
    <span id="errorDates" style="color: red; font-size: small;"></span>

    <input type="number" th:field="*{deadlineLengthDays}" required>
    <input type="text" placeholder="Enter Title" th:field="*{title}" required>
    <input type="text" placeholder="Enter Category" th:field="*{category}" required>
    <input type="number" placeholder="Enter SID" th:field="*{sid}" required>
    <input type="text" placeholder="Enter Source URL" th:field="*{sourceUrl}" required>

    <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>
