<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Tender</title>
    <link th:href="@{/style_update_Tender.css}" rel="stylesheet" />
</head>
<body>
<h1>Add Tender</h1>

<form action="#" th:action="@{/addTender}" th:object="${tender}" method="post">
    <input type="number" th:field="*{id}" hidden="hidden">
    <input type="number" th:field="*{sourceId}" required>
    <input type="date" placeholder="Enter Date" th:field="*{date}" required>
    <input type="date" placeholder="yyyy-DD-mm" th:field="*{deadlineDate}" required>
    <input type="number" th:field="*{deadlineLengthDays}" required>
    <input type="text" placeholder="Enter Title" th:field="*{title}" required>
    <input type="text" placeholder="Enter Category" th:field="*{category}" required>
    <input type="number" placeholder="Enter SID" th:field="*{sid}" required>
    <input type="text" placeholder="Enter Source URL" th:field="*{sourceUrl}" required>

    <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>
