<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Awarded</title>
    <link th:href="@{/style_forms.css}" rel="stylesheet" />
</head>
<body>
<h1>Edit Awarded</h1>

<form action="#" th:action="@{/updateAwarded}" th:object="${awarded}" method="post">
    <input type="number" placeholder="ID" th:field="*{id}" readonly>
    <input type="number" placeholder="Tender Src ID" th:field="*{tender_src_id}" readonly>
    <input type="date" placeholder="Date" th:field="*{date}" required>
    <input type="number" placeholder="Value For One" th:field="*{valueForOne}" required>
    <input type="number" placeholder="Value For Two" th:field="*{valueForTwo}" required>
    <input type="number" placeholder="Value For Three" th:field="*{valueForThree}" required>
    <select th:field="*{suppliersId}" required>
        <option th:each="id : ${SuppliersID}" th:value="${id}" th:text="${id}"></option>
    </select>
    <input type="number" placeholder="Count" th:field="*{count}">
    <input type="number" placeholder="Offers Count" th:field="*{offersCount}">
    <input type="number" placeholder="Value" th:field="*{value}">

    <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>
